doctype html 
html
    head 
        title Best Food Delivery | MyOnlineFoood.com
        block scripts 
        block style
    body 
        nav#navbar
            div#logo
                a(href="/"): img(src="/static/logo.jpg" alt="MyOnlineFoood.com")
            ul
                li.item #[a(href="/") Home]
                li.item #[a(href="/services") Services]
                li.item #[a(href="/client") Our Client]
                li.item #[a(href="/contact") Contact Us]
        
        section#home
            h1.h-primary Welcome to MyOnlineFood
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam velit ab, facilis ad amet
            p Lorem, ipsum dolor sit amet consectetur adipisi
            button.btn Order Now
        block content 
    footer.center 
        p Copyright &copy; www.MyOnlineFoood.com All Rights Reserved
